.cata {
  display: flex;
  flex-direction: column;
  .cata-name {
    display: block;
    width: 100PX;
    height: 48PX;
    line-height: 48PX;
    font-size: 14PX;
    text-align: center;
  }
  .select {
    color: #f00;
  }
}
