.foodlist {
  padding: 10PX;
  width: 100%;
  flex-grow: 1;
  .foodlist-item {
    display: flex;
    flex-grow: 1;
    margin-top: 15PX;
    .foodlist-item-info {
      position: relative;
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      justify-content: space-between;
      height: 80PX;
      margin-left: 10PX;
      font-size: 14PX;
      .price {
        font-weight: bold;
        color: #f00;
      }
    }
    .foodlist-item-img {
      width: 80PX;
      height: 80PX;
      border-radius: 4PX;
    }
  }
}
